<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

	<script type="text/javascript" src="{{ url_for('static', filename='nouislider.min.js') }}"></script>
 	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='nouislider.min.css') }}"></link>
 	<script type="text/javascript" src="{{ url_for('static', filename='three.js') }}"></script>
 	<script type="text/javascript" src="{{ url_for('static', filename='TrackballControls.js') }}"></script>

	<script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='gpkit.js') }}"></script>

	<!-- 3D rendering script -->
	<script type="text/javascript" src="{{ url_for('static', filename='3Drender.js') }}"></script>

	<!-- style -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"></link>

	<!-- React.js stuff -->
	<script src="https://unpkg.com/react@15.3.0/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15.3.0/dist/react-dom.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
    <script src="https://unpkg.com/jquery@3.1.0/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/remarkable@1.6.2/dist/remarkable.min.js"></script>
    <div id="threedview"></div>
    <div id="content"></div>

   <!--  <script type="text/babel">

      var ComponentList = React.createClass({
      	render: function() {
      		console.log('component list coming into react')
      		console.log(componentsArr)
      		return (
      			<div className = "componentList">
      				<h1>Components</h1>
      				<Component data={new Battery()} name="Battery">This is one comment</Component>
        			<Component data= {new Motor()} name="Payload">This is *another* comment</Component>
      			</div>
      		);
      	}
      });

      var Component = React.createClass({
      	render: function() {
      		var varList = []
      		var component = this.props.data
      		for (var key in component) {
			    if (component.hasOwnProperty(key)) {
			        //console.log(component[key])
			        if (component[key] instanceof Variable){
			        	varList.push(component[key])
			        }
			    }
			}
      		return (
      			<div className = "Component">
      			<h1>{this.props.name}</h1>
      			<VariableList varList = {varList}/>
      			</div>
      		)
      	}
      });
      var VariableList = React.createClass({
      	render: function() {
      		console.log(this.props.varList)
      		return (
	            <ul>
	                {this.props.varList.map(function(variable, index){
	                    return <li key={variable.ID}><VariableInput inputVar={variable}/></li>;
	                  })}
	            </ul>
        	)
      	}
      });
      var VariableInput = React.createClass({
      	getInitialState: function() {
		    return {variable: this.props.inputVar};
		},
		handleLockChange: function() {
			console.log('big potato');
			console.log(this.state.variable.name);
		},
      	render: function() {
      		return (
	      		<div className = "VariableInput">
	      			<p>{this.state.variable.name}</p>
	      			<form className="variableInputForm">
				        <input
				          type="text"
				          placeholder="Value of variable"
				          value={this.state.variable.val}
				          onChange={this.handleAuthorChange}
				        />
				        <button type="button" onClick={this.handleLockChange}>Lock</button>
				    </form>
					<div id="slider"></div>
		      		</div>
      		)
      	}
      })
      ReactDOM.render(
        <ComponentList />,
        document.getElementById('content')
      );
    </script> -->
	<script>
		r = setupNums()
	</script>
	<script type="text/javascript" src="{{ url_for('static', filename='core.js') }}"></script>	
	<script>
		var componentsArr = []
		var n_rotors = new Variable("n_rotors",4,"-")

		constraints = []
		
		g = new Variable("g",9.8,"m/s/s")

		var centerPlate = new Plate();
		// centerPlate.geometry.position = new Position(centerPlate,2,2,2)
		constraints.push.apply(constraints,centerPlate.getConstraints())

		var payload = new Payload();
		payload.mass = new Variable("payloadMass",1,"kg")
		//Attach payload to the top of the plate
		var payloadPlateMate = new Mate([payload,centerPlate],["bottom","top"],["centroid","centroid"])
		payload.geometry.matesArr.push(payloadPlateMate)
		constraints.push.apply(constraints,payload.getConstraints())

		var	batt = new Battery()
		var batteryPlateMate = new Mate([batt,centerPlate],["top","bottom"],["centroid","centroid"])
		batt.geometry.matesArr.push(batteryPlateMate)
		constraints.push.apply(constraints,batt.getConstraints())
		console.log(batt)

		Pow_propulsion = new Variable("Pow_propulsion","W")
		ThrustToPowRatio = new Variable("ThrustToPowRatio",10,"N/W")
		T_total = new Variable("T_total","N")
		W_total = new Variable("W_total","N")

		maxRollRate = new Variable("rollRate","rad/s/s")
		thrustToWeight = new Variable("thrustToWeight","-")
		hoverTime = new Variable("hoverTime","s")

		controllerList = []
		motorList = []
		propList = []

		// Now add arms in the correct way
		for(var i = 0; i<n_rotors.val; i++){

			var armBeam = new Beam()
			armBeam.geometry.position = new Position(armBeam,{})
			armBeam.geometry.rotation = new Rotation(armBeam,{x:0,y:0,z:(2*i+1)*Math.PI*0.25})
			armBeam.geometry.mesh = new Mesh("rect",armBeam,0.3,0.02,0.05)
			var armBeamPlateMate = new Mate([armBeam,centerPlate],["smooth","smooth"],["lowerMidInc",i])
			armBeam.geometry.mesh.zlen = centerPlate.geometry.mesh.zlen
			armBeam.geometry.matesArr.push(armBeamPlateMate)
			constraints.push.apply(constraints,armBeam.getConstraints())

			var controller = new SpeedController()
			controllerList.push(controller)
			controller.mass = controllerList[0].mass
			controller.geometry.position = new Position(controller,{})
			controller.geometry.rotation = new Rotation(controller,{x:0,y:0})
			controller.geometry.mesh = new Mesh("rect",controller,0.2,0.02,0.02)
			var controllerArmMate = new Mate([controller,armBeam],["top","bottom"],["centroidR","centroidR"])
			controller.geometry.matesArr.push(controllerArmMate)
			constraints.push.apply(constraints,controller.getConstraints())

			var motor = new Motor()
			motor.powerInput = controller.powerOutput
			motorList.push(motor)
			motor.geometry.position = new Position(motor,{})
			motor.geometry.rotation = new Rotation(motor,{x:Math.PI*0.5,y:0,z:0})
			motor.geometry.mesh = new Mesh("cyl",motor,0.05,0.05)
			var motorArmMate = new Mate([motor,armBeam],["top","bottom"],["motorMate","motorMate"])
			motor.geometry.matesArr.push(motorArmMate)
			motor.mass = motorList[0].mass
			constraints.push.apply(constraints,motor.getConstraints())

			var propeller = new Propeller()
			propeller.powerInput = motor.powerOutput
			propList.push(propeller)
			propeller.thrust = propList[0].thrust
			constraints.push.apply(constraints,propeller.getConstraints())


			overload(function(){
				constraints.push(controller.powerInput <= batt.powerOutput/n_rotors,
					controller.powerOutput <= controller.powerInput*controller.efficiency
					)
			})();
			componentsArr.push(controller,motor,propeller,armBeam)
		}
		componentsArr.push(payload,batt,centerPlate)
		// constraints = []
		
		overload(function(){
			constraints.push(
						   T_total <= propList[0].thrust*n_rotors,
						   W_total >= batt.mass*g + n_rotors*controllerList[0].mass*g + n_rotors*motorList[0].mass*g + payload.mass*g,
						   T_total >= W_total,
						   //Error here, not multiplying up controller power input
						   hoverTime <= batt.energy/(controllerList[0].powerInput))
		})();
		for (var i = 0; i<constraints.length;i++){
			// console.log(constraints[i])
			console.log(constraints[i].show())
		}

		// Set up objective
		objective = new Posynomial([new Monomial([[hoverTime,-1]],1)])
		m = new Model(objective, constraints)
		target = '/opt'
		var threeDEnabled = false

		// Solve the Model and print the results table
		sol = m.solve(target,function(){
			console.log(sol.table())
			for(var i = 0; i < componentsArr.length;i++){
				updateObjProperties(componentsArr[i],sol)
			}
			if (threeDEnabled == true){
				setup3D(componentsArr,n_rotors);
				update3DModel(componentsArr,n_rotors)
				render();
			}
		})

	</script>

	<div id="output"></div>
{% endblock %}
